.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--first-text-color);
}

.logo-web {
  color: var(--second-text-color);
}