:root {
  --first-text-color: #000000;
  --second-text-color: #2196f3;
  --third-text-color: #212121;
  --fourth-text-color: #ffffff;
  --fifth-text-color: #757575;
}

$primaryFont: Roboto, sans-serif;
